.soonText {
    font-size: 50px;
}

.soonTextUnder {
    font-size: 40px;
}

.footer {
    position: absolute;
    background-color: #f8f9fa;
    height: 3.5rem;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

.footer-text {
    padding-top: 1rem;
}

main {
    padding-bottom: 3.5rem;
}

.mirror {
    display: inline-block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.diary {
    font-family: 'Architects Daughter', cursive;
}

.enter {
    height: 50vh;
}

.avatar {
    height: 80vh;
}

.middle {
    transform: translateY(calc(50vh - 100% - 5.5rem));
}

.info-text {
    font-weight: 400;
    color: #333333;
}

.highlight {
    font-weight: 500;
}

#secret-caller-ca {
    cursor: pointer;
}

#hanf-animate {
    transition: all 1s linear;
}

#secret-caller-lig {
    cursor: pointer;
}

#lightsaber-animate {
    transition: all 1s linear;
}

@media (max-width: 1150px) {
    #statsFrame {
        display: none;
    }
}

.emoji {
    position: fixed;
    top: -10vh;
    transform: translateY(0);
    animation: fall 3s linear;
    user-select: none;
}

#copyright {
    cursor: pointer;
}

@keyframes fall {
    to {
        transform: translateY(115vh);
    }
}

.birthday {
    width: 32vw;
    height: 35vh;
    position: absolute;
    right: 25vw;
    top: 25vh;
    z-index: 1000;
    transform: translateX(-27%);
    background-color: rgb(234, 0, 255);
}

.birthday h1, h2 {
    text-align: center !important;
    /* color: whitesmoke; */
}